// $googlefonts: 'Unna', serif;
$googlefonts: 'Sens', sans-serif;




body{
    background-color: rgb(245, 239, 227);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagged {
    /* width: 30%; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-decoration: underline mediumaquamarine;
}

.logo {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
    
}

.currentpage{
    font-size: 30px;
    width: 20%;
    display: flex;
    justify-content: left;
    margin: zero;
    font-size: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: underline mediumaquamarine;
    
}

.buttonsnav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.navbuttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid;
    border-color: mediumaquamarine;
    border-radius: 30px;
    margin-right: 10px;
    width: 70px;
    height: 35px;
    text-align: center;
    padding-right: 12px;

}

// .navbuttons:hover{
//     border: solid;
//     border-color: black;
//     border-radius: 35px;
// }

input[type='radio'] {
    display: none
}

.tag {
    cursor: pointer;
    transition: color 200ms;
    
}

.blogpost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 30px;
    
}

.img {
    width: 400px;
    height: 400px;
    box-shadow: lightgray;
    border: solid 5px;
    border-color: mediumaquamarine;
    margin-top: 30px;
}

.postblog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.mypostbuttons{
    border: solid;
    border-color: mediumaquamarine;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-right: 12px;

}

.postinput{
    border: solid;
    border-color: mediumaquamarine;
    margin-top: 10px;
    width: 150px;
    height: 25px;
}


#scratch:hover{
    border: solid;
    border-color: orangered;
    background-color: orangered;
    color: white;
    border-radius: 35px;
}

#edit:hover{
    border: solid;
    border-color: black;
    border-radius: 35px;
}

#save:hover{
    border: solid;
    border-color: white;
    background-color: mediumaquamarine;
    color: white;
    border-radius: 35px;
}

.blogpost h2{
    font-family: $googlefonts;
    font-size: 20px;

}

.blogpost p {
    font-family: $googlefonts;
    // font-weight: bold;
    font-size: 20px;
}