.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagged {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
}